<p>Lista studentów</p>
<a [routerLink]="['/']">powrót</a>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <th>Nazwisko i imię</th>
      <th>Numer indeksu</th>
      <th>Kursy zaliczone</th>
      <th>Kursy niezaliczone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of students$ | async">
      <td>
        <a [routerLink]="['/student', s.id]">{{s.lastNameAndFirstName}}</a>
      </td>
      <td>{{s.indexNumber}}</td>
      <td>{{s.numberOfCoursesPassed}}</td>
      <td>{{s.numberOfCoursesFailed}}</td>
    </tr>
  </tbody>
</table>
