table {
  border-collapse: collapse;
}

th {
  width: 300px;
  text-align: left;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

.course-passed {
  background-color: rgba(0, 128, 0, 0.5);
}

.course-failed {
  background-color: rgba(255, 0, 0, 0.5);
}
